<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>baseLogName</key>
      <defaultValue>unknown</defaultValue>
    </discriminator>
    <sift>
      <appender name="${baseLogName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>current/${baseLogName}.out</file>
        <encoder>
          <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="com.modcloth.backend.IntervalBasedRollingPolicy">
          <fileNamePattern>archive/${baseLogName}-%d{yyyyMMdd-HHmm}.out</fileNamePattern>
          <cleanHistoryOnStart>false</cleanHistoryOnStart>
          <maxHistory>3</maxHistory>
          <interval>10</interval>
        </rollingPolicy>
      </appender>
    </sift>
  </appender>

  <logger name="com.modcloth.druidia" level="INFO" additivity="true">
    <appender-ref ref="SIFT"/>
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
